<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.example.transp"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/com.example.transp/css/default.css">
         </property>
         <property
               name="appName"
               value="com.example.transp">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://com.example.transp/com.example.transp.LifeCycleManager">
         </property>
      </product>
   </extension>

</plugin>
